//Variaveis 
//$cor-padrao: adjust-hue(tomato,30%);
$cor-padrao: saturate(tomato,30%);
//$cor-padrao: darken(tomato,30%);
//$cor-padrao: lighteen(tomato,30%);

$raio:  0.3em;

$tamanho-da-fonte-padrao: 16px;
